<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ft_transcendence</title>
	<style>
		body { margin: 0; }
	</style>
</head>
<body>
	{% load static %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
	<script type="module">

		import { initScene, animateGame } from "{% static '/js/game/brique/Scene.js' %}";
		import * as Game from "{% static '/js/game/brique/Game.js' %}";
		const { renderer, scene, camera, environmentBoundingBoxes } = initScene();
		Game.init(scene, environmentBoundingBoxes);
		animateGame(renderer, scene, camera);

</script>
</body>
</html>
