{% extends "master.html" %}
{% load static %}

{% block title %}
	Details about {{ player.username }}
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		<div class="container py-5 h-100">
			<!-- Section pour les informations du joueur -->
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card" style="border-radius: 15px;">
						<div class="card-body text-center">
							<div class="mt-3 mb-4">
								<img src="{% if player.avatar %}{{ player.avatar.url }}{% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp{% endif %}"
									 class="rounded-circle img-fluid" style="width: 100px;">
							</div>
							<h4 class="mb-2">{{ player.username }}</h4>
							{% if player.email %}
								<p class="text-muted mb-4">{{ player.email }}<span class="mx-2">|</span>Id: {{ player.id }}</p>
							{% else %}
								<p class="text-muted mb-4" style="text-align: center;">Id: {{ player.id }}</p>
							{% endif %}
							<hr>
							{% if user.is_authenticated and request.user.language == 'fr' %}
							Pong - {{ player.total_pong_games }} parties
							<div class="col-12 d-flex justify-content-between text-end small">
								<span>Victoires: {{ player.pong_victories }}</span>
								<span>Defaites: {{ player.pong_defeats }}</span>
							</div>
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							Pong - {{ player.total_pong_games }} partidas
							<div class="col-12 d-flex justify-content-between text-end small">
								<span>Victorias: {{ player.pong_victories }}</span>
								<span>Derrotas: {{ player.pong_defeats }}</span>
							</div>
							{% else %}
							Pong - {{ player.total_pong_games }} games
							<div class="col-12 d-flex justify-content-between text-end small">
								<span>Wins: {{ player.pong_victories }}</span>
								<span>Loses: {{ player.pong_defeats }}</span>
							</div>
							{% endif %}
							{% if player.pong_defeats == 0 and player.pong_victories == 0 %}
							<div class="progress" role="progressbar" aria-label="Victories and Defeats" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
								{% if user.is_authenticated and request.user.language == 'fr' %}
									<div class="progress-bar bg-secondary" style="width: 100%;" aria-valuenow="100">
										Aucune partie jouee
									</div>
								{% elif user.is_authenticated and request.user.language == 'sp' %}
									<div class="progress-bar bg-secondary" style="width: 100%;" aria-valuenow="100">
										No partidas jugadas
									</div>
								{% else %}
									<div class="progress-bar bg-secondary" style="width: 100%;" aria-valuenow="100">
										No matches played yet
									</div>
								{% endif %}
							</div>
						{% else %}
							<div class="progress" role="progressbar" aria-label="Victories and Defeats" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar bg-success" style="width: {{ player.pong_victories_percentage|floatformat:0 }}%;" aria-valuenow="{{ player.pong_victories_percentage|floatformat:0 }}"></div>
								<div class="progress-bar bg-danger" style="width: {{ player.pong_defeats_percentage|floatformat:0 }}%;" aria-valuenow="{{ player.pong_defeats_percentage|floatformat:0 }}"></div>
							</div>
						{% endif %}
							<hr>    
							{% if user.is_authenticated and request.user.language == 'fr' %}
							Casse Briques - 
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							Rompe Lardillos - 
							{% else %}
							Brick Breacker - 
							{% endif %}
							{{ request.user.brick_games }}
							{% if user.is_authenticated and request.user.language == 'fr' %}
							parties
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							partidas
							{% else %}
							games.
							{% endif %}
							<br>
							{% if user.is_authenticated and request.user.language == 'fr' %}
								{% if request.user.brick_games == 0 %}
								Pas de parties jouees.
								{% else %}
								Score moyen: {{ request.user.brick_average }}
								{% endif %}
							{% elif user.is_authenticated and language == 'sp' %}
								{% if request.user.brick_games == 0 %}
								No partidas jugadas.
								{% else %}
								puntuación media: {{ request.user.brick_average }}
								{% endif %}
							{% if request.user.brick_games == 0 %}
								No games played.
								{% else %}
								Average points: {{ request.user.brick_average }}
								{% endif %}
							{% else %}
							{% endif %}
							<hr>
							{% if user.is_authenticated %}
								{% if not is_friend %}
									{% if not is_pending %}
										<form action="{% url 'add_friend' player.id %}" method="POST">
											{% csrf_token %}
											{% if request.user.language == 'fr' %}
											<button type="submit" class="btn btn-primary btn-rounded btn-lg">Ajouter un ami</button>
											{% elif request.user.language == 'sp' %}
											<button type="submit" class="btn btn-primary btn-rounded btn-lg">Agregar amigo</button>
											{% else %}
											<button type="submit" class="btn btn-primary btn-rounded btn-lg">Add friend</button>
											{% endif %}
										</form>
									{% endif %}
								{% else %}
									<form action="{% url 'remove_friend' player.id %}" method="POST">
										{% csrf_token %}
										{% if request.user.language == 'fr' %}
										<button type="submit" class="btn btn-danger btn-rounded btn-lg">Supprimer l'ami</button>
										{% elif request.user.language == 'sp' %}
										<button type="submit" class="btn btn-danger btn-rounded btn-lg">Eliminar al amigo</button>
										{% else %}
										<button type="submit" class="btn btn-danger btn-rounded btn-lg">Remove friend</button>
										{% endif %}
									</form>
						</div>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
	
			<!-- Section pour le graphique -->
			<div class="row">
				<div class="col-12">
					<div class="card mb-4 mt-4" style="border-radius: 15px;">
						<div id="statsCarousel" class="carousel slide" data-bs-interval="false">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<!-- Colonne de gauche pour le graphique et le nombre de parties -->
										<div class="col-md-6">
											<div class="graphique-conteneur" style="text-align: center;">
												<p style="font-weight: bold; margin-bottom: 0;">
													{% if user.is_authenticated and request.user.language == 'fr' %}
													Nombre de parties jouees (Pong):<br>
													{% elif user.is_authenticated and request.user.language == 'sp' %}
													Cantidad de partidas jugadas (Pong):<br>
													{% else %}
													Number of games played (Pong):<br>
													{% endif %}
													{{ user_stats.total_pong_games }}
												</p>
												<div>
													<script type="text/javascript">
														var userLanguage = "{{ request.user.language }}";
														var labelVictories, labelDefeats, labelPlayerStats;
														if (userLanguage == 'fr') {
															labelVictories = 'Victoires';
															labelDefeats = 'Défaites';
															labelPlayerStats = 'Statistiques du joueur';
														} else if (userLanguage == 'sp') {
															labelVictories = 'Victorias';
															labelDefeats = 'Derrotas';
															labelPlayerStats = 'Estadísticas del jugador';
														} else {
															labelVictories = 'Victories';
															labelDefeats = 'Defeats';
															labelPlayerStats = 'Player stats';
														}
													</script>
													<div id="chart-data" data-pong-victories="{{ user_stats.pong_victories }}" data-pong-defeats="{{ user_stats.pong_defeats }}"></div>
													<canvas id="myChart1"></canvas>
												</div>
											</div>
										</div>
								
										<!-- Colonne de droite pour les moyennes -->
										<div class="col-md-6">
											<div class="moyenne-encart-conteneur">
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if user.is_authenticated and request.user.language == 'fr' %}
														<p style="font-weight: bold;">Points moyen mis:</p>
														{% elif user.is_authenticated and request.user.language == 'sp' %}
														<p style="font-weight: bold;">Puntos promedio hechos:</p>
														{% else %}
														<p style="font-weight: bold;">Average points taken:</p>
														{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_average_for|floatformat:2 }}</p>
													</div>
												</div>
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if user.is_authenticated and request.user.language == 'fr' %}
														<p style="font-weight: bold;">Points moyen pris:</p>
														{% elif user.is_authenticated and request.user.language == 'sp' %}
														<p style="font-weight: bold;">Puntos promedio recibidos:</p>
														{% else %}
														<p style="font-weight: bold;">Average points conceded:</p>
														{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_average_against|floatformat:2 }}</p>
													</div>
												</div>
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if request.user.language == 'fr' or request.user.language == 'sp' %}
														<p style="font-weight: bold;">Ratio V/D:</p>
														{% else %}
														<p style="font-weight: bold;">W/L Ratio:</p>
														{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_wl_ratio|floatformat:2 }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<!-- Colonne de gauche pour l'histogramme et le nombre de parties -->
										<div class="col-md-6">
											<div class="graphique-conteneur" style="text-align: center;">
												<p style="font-weight: bold; margin-bottom: 0;">
													{% if user.is_authenticated and request.user.language == 'fr' %}
													Nombre de parties jouees (Casse briques):
													{% elif user.is_authenticated and request.user.language == 'sp' %}
													Cantidad de partidas jugadas (Rompe Lardillos):
													{% else %}
													Number of games played (Brick Breaker):
													{% endif %}
													{{ user_stats.brick_games }}</p>
												<div>
													<script type="text/javascript">
														window.brickScores = {{ latest_brick_score|safe }};
														var userLanguage = "{{ request.user.language }}";
														var labelPoints;
														if (userLanguage == 'fr') {
															labelPoints = 'Points';
														} else if (userLanguage == 'sp') {
															labelPoints = 'Puntos';
														} else {
															labelPoints = 'Points';
														}
													</script>
													<canvas id="myChart2"></canvas>
												</div>
											</div>
										</div>													
										<div class="col-md-6">
											<div class="moyenne-encart-conteneur">
												<!-- Ici, vous pouvez ajouter les moyennes et autres statistiques pour le jeu Brick Breaker -->
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if user.is_authenticated and request.user.language == 'fr' %}
															<p style="font-weight: bold;">Score moyen:</p>
														{% elif user.is_authenticated and request.user.language == 'sp' %}
															<p style="font-weight: bold;">Puntuación media:</p>
														{% else %}
															<p style="font-weight: bold;">Average Score:</p>
														{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.brick_average|floatformat:2 }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#statsCarousel" role="button" data-bs-slide="prev" style="color: black; left: -25px;">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#statsCarousel" role="button" data-bs-slide="next" style="color: black;">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							{% if user.is_authenticated and request.user.language == 'fr' %}
							<h5 class="card-title fw-bold">5 dernieres parties</h5>
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							<h5 class="card-title fw-bold">5 últimas partidas</h5>
							{% else %}
							<h5 class="card-title fw-bold">Last 5 games</h5>
							{% endif %}
							<ul class="list-group">
								{% for game in latest_games %}
									<li class="list-group-item game-info">
										<div class="game-result">
											{% if game.game_type == 'PONG' %}
												{% if game.score_left > game.score_right %}
													{% if request.user.language == 'fr' %}
													<span class="text-success fw-bold">VICTOIRE</span>
													{% elif request.user.language == 'sp' %}
													<span class="text-success fw-bold">VICTORIA</span>
													{% else %}
													<span class="text-success fw-bold">VICTORY</span>
													{% endif %}
												{% else %}
													{% if request.user.language == 'fr' %}
													<span class="text-danger fw-bold">DEFAITE</span>
													{% elif request.user.language == 'sp' %}
													<span class="text-danger fw-bold">DERROTA</span>
													{% else %}
													<span class="text-danger fw-bold">DEFEAT</span>
													{% endif %}
												{% endif %}
											{% elif game.game_type == 'BRICK' %}
												<span class="text-score fw-bold">SCORE</span>
											{% else %}
												{% if request.user.language == 'fr' %}
												<span class="text-score fw-bold">LEGENDE ULTIME DU PONG</span>
												{% elif request.user.language == 'sp' %}
												<span class="text-score fw-bold">PONG CONQUISTADOR LEGENDARIO</span>
												{% else %}
												<span class="text-score fw-bold">PONG WARRIOR GOAT</span>
												{% endif %}
											{% endif %}
										</div>
										<div>{{ game.get_game_type_display }}</div>
										<div>
											{% if game.game_type == 'PONG' %}
												{{ game.score_left }} - {{ game.score_right }}
											{% elif game.game_type == 'BRICK' %}
												{{ game.score }}
											{% else %}
												{{ game.score_left }} - {{ game.score_right }}
											{% endif %}
										</div>
										<div>{{ game.date|date:"d/m/Y H:i" }}</div>
									</li>
								{% empty %}
								{% if request.user.language == 'fr' %}
								<li class="list-group-item">Pas de parties recentes.</li>
								{% elif request.user.language == 'sp' %}
								<li class="list-group-item">No partidas recientes</li>
								{% else %}
								<li class="list-group-item">No recent games.</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endif %}
		</div>
	</body>
{% endblock %}
