{% extends "master.html" %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCE
{% endblock %}



{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body style="background-color: black;">
	<div style="display: flex; justify-content: center; align-items: center; min-height: 23vh;"></div>
	<div class="container-fluid mt-5">
		<div class="row">
			<div class="col-4 mt-4">
				<welcome>Welcome to <br><span class="fancy">FT_TRANSCENDENCE</span></welcome>
			</div>
			<div class="col">
			</div>
			<div class="col-4">
				<p class="lead" style="color: #ffffff;">FT_TRANSCENDENCE is a <em>multiplayer</em> <em>pong</em> game where you can play against your friends or other players.</p>
			</div>
		</div>
		<p class="lead mt-3" style="color: #ffffff;"><em>by Aramon, Babreton, Cparras and Rrodor</em></p>
	</div>
</body>
{% endblock %}
