{% extends "master.html" %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCE
{% endblock %}



{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body style="background-color: black;">
	<div style="display: flex; justify-content: center; align-items: center; min-height: 23vh;"></div>
	<div class="container-fluid mt-5 mb-5">
		<div class="row">
			<div class="col-4 mt-4">
				<welcome>Welcome to <br><span class="fancy">FT_TRANSCENDENCE</span></welcome>
			</div>
			<div class="col">
			</div>
			<div class="col-4 mt-5">
				<p class="lead text-center" style="color: #ffffff;">FT_TRANSCENDENCE is a project from <em>42 school</em>, which consists of creating a website with various functionalities.</p>
				<p class="lead text-center" style="color: #ffffff;">We've added some games, have fun!</p>
			</div>
		</div>
		<p class="lead mt-3" style="color: #ffffff;"><em>by Aramon, Babreton, Cparras and Rrodor</em></p>
	</div>
	<div class="container-fluid text-center" style="margin-top: 100px;">
		<div class="row align-items-center">
			<div class="col">
				<button class="glow-on-hover" type="button">Play <em>Pong</em></button>
			</div>
			<div class="col">
				<button class="glow-on-hover" type="button">Play <em>Hexa-Race</em></button>
			</div>
		</div>
	</div>
	{% if password_changed %}
	<script>
		window.onload = function() {
			if (window.location.search.indexOf('password_changed=true') > -1) {
				var newUrl = window.location.href.split('?')[0];
				window.history.replaceState({}, '', newUrl);
				window.location.reload(true);
			}
		};
	</script>
	{% endif %}
</body>
{% endblock %}
