{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}?v=21">
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% if password_changed or avatar_changed or name_changed or friends_changed or game_changed %}
			<script src="{% static 'js/reload_changed.js' %}?v=02"></script>
		{% endif %}
	
		{% if messages %}
			<div id="alert-container">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show alert-custom" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<nav class="navbar" id="main-navbar" style="background-color: lightgrey; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center w-100">
					<a class="navbar-brand" id="name" href="/#">FT_TRANSCENDENCE</a>
					<div class="mx-auto">
						{% if user.is_authenticated %}
							{% if request.user.language == 'fr' %}
								Connecte en tant que {{ user.username }}
							{% elif request.user.language == 'sp' %}
								Conectado como {{ user.username }}
							{% else %}
								Connected as {{ user.username }}
							{% endif %}
						{% endif %}
					</div>
					<div class="d-flex align-items-center">
						{% if user.is_authenticated %}
						{% if request.path == '/pong/vs_ai/' or request.path == '/pong/two_players/' %}
						{% else %}
							<div class="btn-group me-2">
								<form id="language-form" method="post" action="{% url 'change_language' %}" style="display: none;">
									{% csrf_token %}
									<input type="hidden" name="language_code" id="language-input">
								</form>
								<button type="button" class="btn btn-primary dropdown-toggle btn-custom-rounded" data-bs-toggle="dropdown" aria-expanded="false">
									{% if user.is_authenticated and request.user.language == 'fr' %}
									Langue
									{% elif user.is_authenticated and request.user.language == 'sp' %}
									Idioma
									{% else %}
									Language
									{% endif %}
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#" onclick="changeLanguage('fr')"><img src="{% static 'fr.png' %}" style="margin-right: 3px;"> Français</a></li>
									<li><a class="dropdown-item" href="#" onclick="changeLanguage('en')"><img src="{% static 'uk.png' %}" style="margin-right: 3px;"> English</a></li>
									<li><a class="dropdown-item" href="#" onclick="changeLanguage('sp')"><img src="{% static 'sp.png' %}" style="margin-right: 3px;"> Español</a></li>
								</ul>
							</div>
						{% endif %}
							{% if request.user.language == 'fr' %}
								<div class="btn-group" role="group" aria-label="no user">
									<a href="{% url 'logout' %}" class="btn btn-primary">Déconnexion</a>
									<a href="{% url 'profile' %}" class="btn btn-primary">Profil</a>
									<a href="{% url 'players' %}" class="btn btn-primary">Joueurs</a>
								</div>
							{% elif request.user.language == 'sp' %}
								<div class="btn-group" role="group" aria-label="no user">
									<a href="{% url 'logout' %}" class="btn btn-primary">Desconexión</a>
									<a href="{% url 'profile' %}" class="btn btn-primary">Perfil</a>
									<a href="{% url 'players' %}" class="btn btn-primary">Jugadores</a>
								</div>
							{% else %}
								<div class="btn-group" role="group" aria-label="no user">
									<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
									<a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
									<a href="{% url 'players' %}" class="btn btn-primary">Players</a>
								</div>
							{% endif %}
						{% else %}
							<div class="btn-group" role="group" aria-label="no user">
								<a href="{% url 'login' %}" class="btn btn-primary">Login</a>
								<a href="{% url 'register' %}" class="btn btn-primary">Register</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
	{% block content %}
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{% static 'js/custom.js' %}?v=106"></script>
	</body>
</html>