<div class="match winner-top">
    <div class="match-top team">
        {% if match.participant1 %}
            <span class="seed">{{ match.participant1.seed }}</span>
            <span class="name">
                {{ match.participant1.user.username }}
            </span>
            {% if match.score_participant1 == None and request.user == match.participant1.user %}
				<a href="{% url 'play_match' match.id %}" class="play-match-link" data-match-id="{{ match.id }}" data-opponent-id="{{ match.participant1.user.id }}">
                    {% if user.is_authenticated and request.user.language == 'fr' %}
                    	<p style="margin-left: 40px; transform: translateY(7px);"><u>Jouer la partie</u></p>
                    {% elif user.is_authenticated and request.user.language == 'sp' %}
                    	<p style="margin-left: 40px; transform: translateY(7px);"><u>Jugar la partida</u></p>
                    {% else %}
                    	<p style="margin-left: 40px; transform: translateY(7px);"><u>Play the game</u></p>
                    {% endif %}
                </a>
            {% else %}
                <span class="score">{{ match.score_participant1 }}</span>
            {% endif %}
        {% else %}
            {% if user.is_authenticated and request.user.language == 'fr' %}
            AD
            {% elif user.is_authenticated and request.user.language == 'sp' %}
            AD
            {% else %}
            TBD
            {% endif %}
        {% endif %}
    </div>
    <div class="match-bottom team">
        {% if match.participant2 %}
            <span class="seed">{{ match.participant2.seed }}</span>
            <span class="name">
                {{ match.participant2.user.username }}
            </span>
            {% if match.score_participant2 == None and request.user == match.participant2.user %}
                <a href="{% url 'play_match' match.id %}" class="play-match-link" data-match-id="{{ match.id }}" data-opponent-id="{{ match.participant1.user.id }}">
                    {% if user.is_authenticated and request.user.language == 'fr' %}
						<p style="margin-left: 40px; transform: translateY(7px);"><u>Jouer la partie</u></p>
					{% elif user.is_authenticated and request.user.language == 'sp' %}
						<p style="margin-left: 40px; transform: translateY(7px);"><u>Jugar la partida</u></p>
					{% else %}
						<p style="margin-left: 40px; transform: translateY(7px);"><u>Play the game</u></p>
					{% endif %}
                </a>
            {% else %}
                <span class="score">{{ match.score_participant2 }}</span>
            {% endif %}
        {% else %}
            {% if user.is_authenticated and request.user.language == 'fr' %}
            AD
            {% elif user.is_authenticated and request.user.language == 'sp' %}
            AD
            {% else %}
            TBD
            {% endif %}
        {% endif %}
    </div>
	<div class="match-lines">
		<div class="line one"></div>
		<div class="line two"></div>
	</div>
	<div class="match-lines alt">
		<div class="line one"></div>
	</div>
</div>