{% extends "master.html" %}

{% block title %}
  ft_transcendence - List of all players
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		<div class="container-fluid mt-5"><h1 style="color: white; font-size: 1.5em;">List of players</h1></div>
	<div class="list-group">
		{% for player in all_users %}
		<a href="details/{{ player.id }}" class="list-group-item list-group-item-action" style="background-color: lightgray; max-width: 300px; margin-left: 75px;">
			{{ player.username }}
		</a>
		{% endfor %}
	</div>
	</body>
{% endblock %}
