{% extends "master.html" %}
{% load static %}

{% block title %}
	List of players
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		{% if  user.is_authenticated and request.user.language == 'fr' %}
			<div class="container-fluid mt-5"><h1 style="color: white; font-size: 1.5em;">Liste des joueurs</h1></div>
		{% elif user.is_authenticated and request.user.language == 'sp' %}
			<div class="container-fluid mt-5"><h1 style="color: white; font-size: 1.5em;">Lista de jugadores</h1></div>
		{% else %}
			<div class="container-fluid mt-5"><h1 style="color: white; font-size: 1.5em;">List of players</h1></div>
		{% endif %}
	<div class="list-group">
		{% for player in all_users %}
			{% if user.is_authenticated and player.id != user.id %}
				<a href="details/{{ player.id }}" class="list-group-item list-group-item-action" style="background-color: lightgray; max-width: 300px; margin-left: 75px;">
					{{ player.username }}
				</a>
			{% endif %}
			{% if not user.is_authenticated %}
				<a href="details/{{ player.id }}" class="list-group-item list-group-item-action" style="background-color: lightgray; max-width: 300px; margin-left: 75px;">
					{{ player.username }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
	</body>
{% endblock %}
