{% extends "master.html" %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCE - Pong
{% endblock %}

{% block content %}
<head>
	<meta charset="utf-8">
	<title>ft_transcendence</title>
	<style>
		body { margin: 0; }
	</style>
</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
	<script type="text/javascript">
		var userId = "{{ user_id}}";
		var is_ai = {{ is_ai }};
		var match = 0;
	</script>
	<script type="module">

		import { initScene, animateGame } from "{% static 'js/game/pong/Scene.js' %}";
		var	userId = {{ user_id }};
		import * as Game from "{% static 'js/game/pong/Game.js' %}";
		const { renderer, scene, camera, environmentBoundingBoxes } = initScene();
		Game.init(scene, environmentBoundingBoxes, is_ai);
		animateGame(renderer, scene, camera);

</script>
</body>
{% endblock %}
