{% extends "master.html" %}
{% load widget_tweaks %}
{% load static %}
{% load friends %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		{% if not user.is_authenticated %}
		 <script>
			alert("You must be connected to access this page.");
			window.location.href = "{% url 'login' %}"
		 </script>
		{% endif %}
		<div class="container-fluid mt-5 mb-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4"> <!-- Card pour l'avatar -->
						<div class="card-body text-center">
							<img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}/media/avatars/default.png{% endif %}" alt="avatar"
							class="rounded-circle img-fluid" style="width: 150px;">
							<div></div>
							{% if user.is_authenticated and request.user.language == 'fr' %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeAvatarModal">
									Changer d'avatar
								</button>
							{% elif user.is_authenticated and request.user.language == 'sp' %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeAvatarModal">
									Cambiar avatar
								</button>
							{% else %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeAvatarModal">
									Change Avatar
								</button>
							{% endif %}
						</div>
						<p class="lead text-center fw-bold" >{{ request.user.username }}</p>
					</div>
					<div class="card mb-4"> <!-- Card pour les demandes d'amitié -->
						{% if user.is_authenticated and request.user.language == 'fr' %}
							<div class="card-body">
								<div class="text-center flex-grow-1">
									<h5 class="card-title fw-bold">Demandes d'amitié en attente</h5>
								</div>
								{% for friendship in pending_friends %}
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<strong>{{ friendship.user1.username }} souhaite être votre ami.</strong>
									</div>
									<div class="d-flex align-items-center">
										<!-- Formulaire pour accepter la demande d'amitié -->
										<form action="{% url 'accept_friend_request' friendship.user1.id %}" method="POST" class="me-1">
											{% csrf_token %}
											<button type="submit" class="btn btn-outline-success d-flex align-items-center align-button">
												<img src="{{ IMGS_URL }}/imgs/check.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
											</button>
										</form>
										<!-- Formulaire pour refuser la demande d'amitié -->
										<form action="{% url 'decline_friend_request' friendship.user1.id %}" method="POST">
											{% csrf_token %}
											<button type="submit" class="btn btn-outline-danger d-flex align-items-center align-button">
												<img src="{{ IMGS_URL }}/imgs/x-lg.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
											</button>
										</form>
									</div>
								</div>
								{% empty %}
								<div class="text-center flex-grow-1">
									<p class="text-muted fw-bold">Pas de demandes d'amitié en attente.</p>
								</div>
								{% endfor %}
							</div>
					{% elif user.is_authenticated and request.user.language == 'sp' %}
						<div class="card-body">
							<div class="text-center flex-grow-1">
								<h5 class="card-title fw-bold">Solicitudes de amistad pendientes</h5>
							</div>
							{% for friendship in pending_friends %}
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<strong>{{ friendship.user1.username }} quiere ser tu amigo.</strong>
								</div>
								<div class="d-flex align-items-center">
									<!-- Formulaire pour accepter la demande d'amitié -->
									<form action="{% url 'accept_friend_request' friendship.user1.id %}" method="POST" class="me-1">
										{% csrf_token %}
										<button type="submit" class="btn btn-outline-success d-flex align-items-center align-button">
											<img src="{{ IMGS_URL }}/imgs/check.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
										</button>
									</form>
									<!-- Formulaire pour refuser la demande d'amitié -->
									<form action="{% url 'decline_friend_request' friendship.user1.id %}" method="POST">
										{% csrf_token %}
										<button type="submit" class="btn btn-outline-danger d-flex align-items-center align-button">
											<img src="{{ IMGS_URL }}/imgs/x-lg.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
										</button>
									</form>
								</div>
							</div>
							{% empty %}
							<div class="text-center flex-grow-1">
								<p class="text-muted fw-bold">No hay solicitudes de amistad pendientes.</p>
							</div>
							{% endfor %}
						</div>
					{% else %}
						<div class="card-body">
							<div class="text-center flex-grow-1">
								<h5 class="card-title fw-bold">Friend requests pending.</h5>
							</div>
							{% for friendship in pending_friends %}
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<strong>{{ friendship.user1.username }} wants to be your friend.</strong>
								</div>
								<div class="d-flex align-items-center">
									<!-- Formulaire pour accepter la demande d'amitié -->
									<form action="{% url 'accept_friend_request' friendship.user1.id %}" method="POST" class="me-1">
										{% csrf_token %}
										<button type="submit" class="btn btn-outline-success d-flex align-items-center align-button">
											<img src="{{ IMGS_URL }}/imgs/check.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
										</button>
									</form>
									<!-- Formulaire pour refuser la demande d'amitié -->
									<form action="{% url 'decline_friend_request' friendship.user1.id %}" method="POST">
										{% csrf_token %}
										<button type="submit" class="btn btn-outline-danger d-flex align-items-center align-button">
											<img src="{{ IMGS_URL }}/imgs/x-lg.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
										</button>
									</form>
								</div>
							</div>
							{% empty %}
							<div class="text-center flex-grow-1">
								<p class="text-muted fw-bold">No friend requests pending.</p>
							</div>
							{% endfor %}
						</div>
					{% endif %}
					</div>
					<div class="card mb-4 mb-lg-0"> <!-- Card pour les amis -->
						<div class="card-body p-0">
							<ul class="list-group list-group-flush rounded-3">
								{% for info in friends_info %}
									<li class="list-group-item d-flex align-items-center p-3">
										<img src="{{ info.friend.avatar.url }}" class="rounded-circle me-3" style="width: 30px; height: 30px; object-fit: cover;" alt="Avatar">
										<div class="text-center flex-grow-1">
											<a href="{% url 'details' info.friend.id %}" class="mb-0 fw-bold text-decoration-none text-dark">
												{{ info.friend.username }}
											</a>
										</div>
										{% if info.is_in_game %}
											<span class="status-dot bg-warning"></span>
										{% else %}
											<span class="status-dot {% if info.friend.is_online %}bg-success{% else %}bg-secondary{% endif %}"></span>
										{% endif %}
										<form action="{% url 'remove_friend' info.friend.id %}" method="POST" class="ms-2">
											{% csrf_token %}
											<button type="submit" class="btn btn-outline-danger d-flex align-items-center align-button">
												<img src="{{ IMGS_URL }}/imgs/x-lg.svg" class="bi bi-x-lg friend-request-icon" alt="Icone X" />
											</button>
										</form>
									</li>
								{% empty %}
								{% if user.is_authenticated and request.user.language == 'fr' %}
									<li class="list-group-item d-flex justify-content-center align-items-center p-3">
										<p class="mb-0 fw-bold">Pas d'amis confirmés.</p>
									</li>
								{% elif user.is_authenticated and request.user.language == 'sp' %}
									<li class="list-group-item d-flex justify-content-center align-items-center p-3">
										<p class="mb-0 fw-bold">No hay amigos confirmados.</p>
									</li>
								{% else %}
									<li class="list-group-item d-flex justify-content-center align-items-center p-3">
										<p class="mb-0 fw-bold">No friendhip confirmed.</p>
									</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4"> <!-- Card pour les informations du profil -->
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									{% if user.is_authenticated and request.user.language == 'fr' %}
									<p class="mb-0">Nom complet</p>
									{% elif user.is_authenticated and request.user.language == 'sp' %}
									<p class="mb-0">Nombre completo</p>
									{% else %}
									<p class="mb-0">Full Name</p>
									{% endif %}
							</div>
							<div class="col-sm-9">
								{% if request.user.first_name == "" and request.user.last_name == "" %}
								{% if user.is_authenticated and request.user.language == 'fr' %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Renseigner son nom
									</button>
								{% elif user.is_authenticated and request.user.language == 'sp' %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Introduzca su nombre
									</button>
								{% else %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Set name
									</button>
								{% endif %}
								{% else %}
									<p class="text-muted mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
									{% if request.user.language == 'fr' %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Changer son som
									</button>
									{% elif request.user.language == 'sp' %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Cambiar su nombre
									</button>
									{% else %}
									<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
										Change name
									</button>
									{%endif%}
								</p>
								{% endif %}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								{% if user.is_authenticated and request.user.language == 'fr' %}
								<p class="mb-0">Courriel</p>
								{% elif user.is_authenticated and request.user.language == 'sp' %}
								<p class="mb-0">Correo electrónico</p>
								{% else %}
								<p class="mb-0">Email</p>
								{% endif %}
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{ request.user.email }}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								{% if user.is_authenticated and request.user.language == 'fr' %}
								<p class="mb-0">Mot de passe</p>
								{% elif user.is_authenticated and request.user.language == 'sp' %}
								<p class="mb-0">Contraseña</p>
								{% else %}
								<p class="mb-0">Password</p>
								{% endif %}
							</div>
							<div class="col-sm-9">
								<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
							{% if user.is_authenticated and request.user.language == 'fr' %}
							Changer de mot de passe
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							Cambiar contraseña
							{% else %}
							Change password
							{% endif %}
							</button>
							</div>
						</div>
					</div>
					</div>
					<div class="card mb-4"> <!-- Card pour les statistiques -->
						<div id="statsCarousel" class="carousel slide" data-bs-interval="false">
							<div class="carousel-inner">
								<div class="carousel-item active"> <!-- Item pour le graphique et le nombre de parties -->
									<div class="row">
										<div class="col-md-6">
											<div class="graphique-conteneur" style="text-align: center;">
												<p style="font-weight: bold; margin-bottom: 0;">
													{% if user.is_authenticated and request.user.language == 'fr' %}
													Nombre de parties jouees (Pong):<br>
													{% elif user.is_authenticated and request.user.language == 'sp' %}
													Cantidad de partidas jugadas (Pong):<br>
													{% else %}
													Number of games played (Pong):<br>
													{% endif %}
													{{ user_stats.total_pong_games }}
												</p>
												<div>
													<script type="text/javascript">
														var userLanguage = "{{ request.user.language }}";
														var labelVictories, labelDefeats, labelPlayerStats;
														if (userLanguage == 'fr') {
															labelVictories = 'Victoires';
															labelDefeats = 'Défaites';
															labelPlayerStats = 'Statistiques du joueur';
														} else if (userLanguage == 'sp') {
															labelVictories = 'Victorias';
															labelDefeats = 'Derrotas';
															labelPlayerStats = 'Estadísticas del jugador';
														} else {
															labelVictories = 'Victories';
															labelDefeats = 'Defeats';
															labelPlayerStats = 'Player stats';
														}
													</script>
													<div id="chart-data" data-pong-victories="{{ user_stats.pong_victories }}" data-pong-defeats="{{ user_stats.pong_defeats }}"></div>
													<canvas id="myChart1"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-6"> <!-- Colonne de droite pour les moyennes-->
											<div class="moyenne-encart-conteneur">
												<div class="moyenne-encart">
													<div class="moyenne-texte">
													{% if user.is_authenticated and request.user.language == 'fr' %}
														<p style="font-weight: bold;">Points moyen mis:</p>
													{% elif user.is_authenticated and request.user.language == 'sp' %}
														<p style="font-weight: bold;">Puntos promedio hechos:</p>
													{% else %}
														<p style="font-weight: bold;">Average points taken:</p>
													{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_average_for|floatformat:2 }}</p>
													</div>
												</div>
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if user.is_authenticated and request.user.language == 'fr' %}
														<p style="font-weight: bold;">Points moyen pris:</p>
													{% elif user.is_authenticated and request.user.language == 'sp' %}
														<p style="font-weight: bold;">Puntos promedio recibidos:</p>
													{% else %}
														<p style="font-weight: bold;">Average points conceded:</p>
													{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_average_against|floatformat:2 }}</p>
													</div>
												</div>
												<div class="moyenne-encart">
													<div class="moyenne-texte">
													{% if request.user.language == 'fr' or request.user.language == 'sp' %}
														<p style="font-weight: bold;">Ratio V/D:</p>
													{% else %}
														<p style="font-weight: bold;">W/L Ratio:</p>
													{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.pong_wl_ratio|floatformat:2 }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item"> <!-- Item pour le graphique et le nombre de parties -->
									<div class="row">
										<!-- Colonne de gauche pour l'histogramme et le nombre de parties -->
										<div class="col-md-6">
											<div class="graphique-conteneur" style="text-align: center;">
												<p style="font-weight: bold; margin-bottom: 0;">
													{% if user.is_authenticated and request.user.language == 'fr' %}
													Nombre de parties jouees (Casse briques):
													{% elif user.is_authenticated and request.user.language == 'sp' %}
													Cantidad de partidas jugadas (Rompe Lardillos):
													{% else %}
													Number of games played (Brick Breaker):
													{% endif %}
													{{ user_stats.brick_games }}</p>
												<div>
													<script type="text/javascript">
														window.brickScores = {{ latest_brick_score|safe }};
														var userLanguage = "{{ request.user.language }}";
														var labelPoints;
														if (userLanguage == 'fr') {
															labelPoints = 'Points';
														} else if (userLanguage == 'sp') {
															labelPoints = 'Puntos';
														} else {
															labelPoints = 'Points';
														}
													</script>
													<canvas id="myChart2"></canvas>
												</div>
											</div>
										</div>
													<!-- Colonne de droite pour les moyennes -->
													
										<div class="col-md-6">
											<div class="moyenne-encart-conteneur">
												<!-- Ici, vous pouvez ajouter les moyennes et autres statistiques pour le jeu Brick Breaker -->
												<div class="moyenne-encart">
													<div class="moyenne-texte">
														{% if user.is_authenticated and request.user.language == 'fr' %}
															<p style="font-weight: bold;">Score moyen:</p>
														{% elif user.is_authenticated and request.user.language == 'sp' %}
															<p style="font-weight: bold;">Puntuación media:</p>
														{% else %}
															<p style="font-weight: bold;">Average Score:</p>
														{% endif %}
													</div>
													<div class="moyenne-stat">
														<p style="font-weight: bold;">{{ user_stats.brick_average|floatformat:2 }}</p>
													</div>
												</div>
												<!-- Ajoutez d'autres encarts de moyenne si nécessaire -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#statsCarousel" role="button" data-bs-slide="prev" style="color: black; left: -25px;">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#statsCarousel" role="button" data-bs-slide="next" style="color: black;">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
					<div class="card mb-4"> <!-- Card pour les 5 dernières parties -->
						<div class="card-body">
							{% if user.is_authenticated and request.user.language == 'fr' %}
							<h5 class="card-title fw-bold">5 dernieres parties</h5>
							{% elif user.is_authenticated and request.user.language == 'sp' %}
							<h5 class="card-title fw-bold">5 últimas partidas</h5>
							{% else %}
							<h5 class="card-title fw-bold">Last 5 games</h5>
							{% endif %}
							<ul class="list-group">
								{% for game in latest_games %}
									<li class="list-group-item game-info">
										<div class="game-result">
											{% if game.game_type == 'PONG' %}
												{% if game.score_left > game.score_right %}
													{% if request.user.language == 'fr' %}
													<span class="text-success fw-bold">VICTOIRE</span>
													{% elif request.user.language == 'sp' %}
													<span class="text-success fw-bold">VICTORIA</span>
													{% else %}
													<span class="text-success fw-bold">VICTORY</span>
													{% endif %}
												{% else %}
													{% if request.user.language == 'fr' %}
													<span class="text-danger fw-bold">DEFAITE</span>
													{% elif request.user.language == 'sp' %}
													<span class="text-danger fw-bold">DERROTA</span>
													{% else %}
													<span class="text-danger fw-bold">DEFEAT</span>
													{% endif %}
												{% endif %}
											{% elif game.game_type == 'BRICK' %}
												<span class="text-score fw-bold">SCORE</span>
											{% else %}
													{% if request.user.language == 'fr' %}
													<span class="text-score fw-bold">LEGENDE ULTIME DU PONG</span>
													{% elif request.user.language == 'sp' %}
													<span class="text-score fw-bold">PONG CONQUISTADOR LEGENDARIO</span>
													{% else %}
													<span class="text-score fw-bold">PONG WARRIOR GOAT</span>
													{% endif %}
											{% endif %}
										</div>
										<div>{{ game.get_game_type_display }}</div>
										<div>
											{% if game.game_type == 'PONG' %}
												{{ game.score_left }} - {{ game.score_right }}
											{% elif game.game_type == 'BRICK' %}
												{{ game.score }}
											{% else %}
												{{ game.score_left }} - {{ game.score_right }}
											{% endif %}
										</div>
										<div>{{ game.date|date:"d/m/Y H:i" }}</div>
									</li>
								{% empty %}
								{% if request.user.language == 'fr' %}
								<li class="list-group-item">Pas de parties recentes.</li>
								{% elif request.user.language == 'sp' %}
								<li class="list-group-item">No partidas recientes</li>
								{% else %}
								<li class="list-group-item">No recent games.</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
							<div class="modal-header">
								{% if request.user.language == 'fr' %}
									<h5 class="modal-title" id="changePasswordModalLabel">Changer mot de passe</h5>
								{% elif request.user.language == 'sp' %}
									<h5 class="modal-title" id="changePasswordModalLabel">Cambiar contraseña</h5>
								{% else %}
									<h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
								{% endif %}
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
					<form method="post" action="{% url 'profile' %}">
							<div class="modal-body">
								{% csrf_token %}
								{{ pwd_form.as_p }}
							</div>
							<div class="modal-footer">
								{% if request.user.language == 'fr' %}
									<button type="submit" name="change_password" class="btn btn-primary">Changer mot de passe</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								{% elif request.user.language == 'sp' %}
									<button type="submit" name="change_password" class="btn btn-primary">Cambiar contraseña</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
								{% else %}
									<button type="submit" name="change_password" class="btn btn-primary">Change Password</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								{% endif %}
							</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						{% if request.user.language == 'en' %}
							<h5 class="modal-title" id="changeAvatarModalLabel">Change Avatar</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% elif request.user.language == 'fr' %}
							<h5 class="modal-title" id="changeAvatarModalLabel">Changer d'avatar</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% elif request.user.language == 'sp' %}
							<h5 class="modal-title" id="changeAvatarModalLabel">Cambiar avatar</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% endif %}
					</div>
					<form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
						<div class="modal-body">
							<!-- Formulaire pour changer l'avatar -->
							{% csrf_token %}
							{{ avatar_form.avatar }}
						</div>
						<div class="modal-footer">
							{% if request.user.language == 'en' %}
								<button type="submit" name="change_avatar" class="btn btn-primary">Change Avatar</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							{% elif request.user.language == 'fr' %}
								<button type="submit" name="change_avatar" class="btn btn-primary">Changer d'avatar</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
							{% elif request.user.language == 'sp' %}
								<button type="submit" name="change_avatar" class="btn btn-primary">Cambiar avatar</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							{% endif %}
						</div>
					</form>						
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeNameModal" tabindex="-1" aria-labelledby="changeNameModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						{% if request.user.language == 'en' %}
							<h5 class="modal-title" id="changeNameModalLabel">Set Name</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% elif request.user.language == 'fr' %}
							<h5 class="modal-title" id="changeNameModalLabel">Renseigner son nom</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% elif request.user.language == 'sp' %}
							<h5 class="modal-title" id="changeNameModalLabel">Introduzca su nombre</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						{% endif %}
					</div>
					<form method="post" action="{% url 'profile' %}">
						<div class="modal-body">
							<!-- Formulaire pour changer le nom -->
							{% csrf_token %}
							<div class="mb-3">
								<label for="first_name" class="form-label">{% if request.user.language == 'en' %}First Name{% elif request.user.language == 'fr' %}Prénom{% elif request.user.language == 'sp' %}Nombre{% endif %}</label>
								<input type="text" class="form-control" id="first_name" name="first_name">
							</div>
							<div class="mb-3">
								<label for="last_name" class="form-label">{% if request.user.language == 'en' %}Last Name{% elif request.user.language == 'fr' %}Nom de famille{% elif request.user.language == 'sp' %}Apellido{% endif %}</label>
								<input type="text" class="form-control" id="last_name" name="last_name">
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" name="change_name" class="btn btn-primary">{% if request.user.language == 'en' %}Save{% elif request.user.language == 'fr' %}Sauvegarder{% elif request.user.language == 'sp' %}Guardar nombre{% endif %}</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% if request.user.language == 'en' %}Close{% elif request.user.language == 'fr' %}Fermer{% elif request.user.language == 'sp' %}Cerrar{% endif %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	{% endblock %}