{% extends "master.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		{% if not user.is_authenticated %}
		 <script>
			alert("You must be connected to access this page.");
			window.location.href = "{% url 'login' %}"
		 </script>
		{% endif %}
		<div class="container-fluid mt-5 mb-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'media/avatars/default.png' %}{% endif %}" alt="avatar"
							class="rounded-circle img-fluid" style="width: 150px;">
							<div></div>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeAvatarModal">
								Change Avatar
							</button>							
						</div>
						<p class="lead text-center" >{{ request.user.username }}</p>
					</div>
			<div class="card mb-4 mb-lg-0">
				<div class="card-body p-0">
					<ul class="list-group list-group-flush rounded-3">
						<li class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fas fa-globe fa-lg text-warning"></i>
							<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
					  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
					  <p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
				  </ul>
				</div>
			</div>
			</div>
			<div class="col-lg-8">
			  <div class="card mb-4">
				  <div class="card-body">
					  <div class="row">
						  <div class="col-sm-3">
					  <p class="mb-0">Full Name</p>
					</div>
					<div class="col-sm-9">
						{% if request.user.first_name == "" and request.user.last_name == "" %}
							<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changeNameModal">
								Set Name
							</button>
						{% else %}
							<p class="text-muted mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
						{% endif %}
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<p class="mb-0">Email</p>
					</div>
					<div class="col-sm-9">
						<p class="text-muted mb-0">{{ request.user.email }}</p>
					</div>
				  </div>
				  <hr>
				  <div class="row">
					  <div class="col-sm-3">
						  <p class="mb-0">Password</p>
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
					  Change Password
					</button>
					</div>
				</div>
			  </div>
			  </div>
			  <div class="card mb-4 mb-md-0">
                <div id="statsCarousel" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center align-items-center" style="gap: 20px; padding: 20px;">
                                <div style="text-align: center;">
                                    <p style="font-weight: bold; margin-bottom: 0;">
                                        Nombre de parties jouées (Pong):<br>
                                        {{ user_stats.total_pong_games }}
                                    </p>
                                </div>
                                <div>
                                    <canvas id="myChart1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center" style="gap: 20px; padding: 20px;">
                                <div style="text-align: center;">
                                    <p style="font-weight: bold; margin-bottom: 0;">
                                        Nombre de parties jouées (Jeu 2):<br>
                                        {{ user_stats.total_pong_games }}
                                    </p>
                                </div>
                                <div>
                                    <canvas id="myChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#statsCarousel" role="button" data-bs-slide="prev" style="color: black; left: -25px;">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next" href="#statsCarousel" role="button" data-bs-slide="next" style="color: black;">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
                </div>
            </div>
			<script>
				var ctx1 = document.getElementById('myChart1').getContext('2d');
				var myChart1 = new Chart(ctx1, {
					type: 'doughnut',
					data: {
						labels: ['Victoires', 'Défaites'],
						datasets: [{
							label: 'Statistiques du Joueur',
							data: [{{ user_stats.pong_victories }}, {{ user_stats.pong_defeats }}],
							backgroundColor: ['rgb(21, 87, 36)', 'rgb(205, 32, 44)'],
							borderColor: ['rgb(21, 87, 36)', 'rgb(205, 32, 44)'],
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						cutoutPercentage: 40,
						maintainAspectRatio: true
					}
				});
		
				var ctx2 = document.getElementById('myChart2').getContext('2d');
				var myChart2 = new Chart(ctx2, {
					type: 'doughnut',
					data: {
						labels: ['Victoires', 'Défaites'],
						datasets: [{
							label: 'Statistiques du Joueur',
							data: [{{ user_stats.pong_victories }}, {{ user_stats.pong_defeats }}],
							backgroundColor: ['rgb(21, 87, 36)', 'rgb(205, 32, 44)'],
							borderColor: ['rgb(21, 87, 36)', 'rgb(205, 32, 44)'],
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						cutoutPercentage: 40,
						maintainAspectRatio: true
					}
				});
			</script>
			</div>
		</div>
		  </div>
		</div>
		<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <!-- Formulaire de changement de mot de passe -->
				  <!-- <form id="passwordChangeForm" method="post" action="{% url 'profile' %}">
					{% csrf_token %}
					{% for field in pwd_form  %}
						<div class="form-group mb-4">
							<label class="form-label" for="{{ field.id_for_label }}" style="color: #000000;">{{ field.label }}</label>
							{{ field|add_class:"form-control" }}
							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				  </form> -->
				  <form method="post" action="{% url 'profile' %}">
					{% csrf_token %}
					{{ pwd_form.as_p }}
					<button type="submit" name="change_password">Change Password</button>
				</form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button id="change-pass" type="submit" form="passwordChangeForm" name="change_password" class="btn btn-primary">Save changes</button>
				</div>
			  </div>
			</div>
		</div>
		<div class="modal fade" id="changeAvatarModal" tabindex="-1" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="changeAvatarModalLabel">Change Avatar</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- Formulaire pour changer l'avatar -->
						<form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
							{% csrf_token %}
							{{ avatar_form.avatar }}
							{{ avatar_form.errors }}
							<button type="submit" name="change_avatar">Change Avatar</button>
						</form>						
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeNameModal" tabindex="-1" aria-labelledby="changeNameModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="changeNameModalLabel">Set Name</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- Formulaire pour changer le nom -->
						<form method="post" action="{% url 'profile' %}">
							{% csrf_token %}
							<div class="mb-3">
								<label for="first_name" class="form-label">First Name</label>
								<input type="text" class="form-control" id="first_name" name="first_name">
							</div>
							<div class="mb-3">
								<label for="last_name" class="form-label">Last Name</label>
								<input type="text" class="form-control" id="last_name" name="last_name">
							</div>
							<button type="submit" name="change_name" class="btn btn-primary">Save Name</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	{% endblock %}