{% extends "master.html" %}
{% load widget_tweaks %}\
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
  

{% block title %}
  FT_TRANSCENDENCE - Register
{% endblock %}

{% block content %}
	<body style="background-color: black;">
		{% if not user.is_authenticated %}
		 <script>
			alert("You must be connected to access this page.");
			window.location.href = "{% url 'login' %}"
		 </script>
		{% endif %}
		<div class="container-fluid mt-5 mb-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
							class="rounded-circle img-fluid" style="width: 150px;">
						</div>
						<p class="lead text-center" >{{ request.user.username }}</p>
					</div>
			<div class="card mb-4 mb-lg-0">
				<div class="card-body p-0">
					<ul class="list-group list-group-flush rounded-3">
						<li class="list-group-item d-flex justify-content-between align-items-center p-3">
							<i class="fas fa-globe fa-lg text-warning"></i>
							<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
					  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
					  <p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center p-3">
						<i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
						<p class="mb-0">FRIEND LIST</p>
					</li>
				  </ul>
				</div>
			</div>
			</div>
			<div class="col-lg-8">
			  <div class="card mb-4">
				  <div class="card-body">
					  <div class="row">
						  <div class="col-sm-3">
					  <p class="mb-0">Full Name</p>
					</div>
					<div class="col-sm-9">
						<p class="text-muted mb-0">/*FIELD A CREER*/</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<p class="mb-0">Email</p>
					</div>
					<div class="col-sm-9">
						<p class="text-muted mb-0">{{ request.user.email }}</p>
					</div>
				  </div>
				  <hr>
				  <div class="row">
					  <div class="col-sm-3">
						  <p class="mb-0">Password</p>
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-primary"
							style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
					  Change Password /*Ce bouton ne fonctionnes pas atm*/
					</button>
					</div>
				</div>
			  </div>
			  </div>

				<div class="col-md-6">
					<div class="card mb-4 mb-md-0">
						<p class="lead text-center">Peut etre un camebert ou des slides pour voir les win/looses sur les deux jeux</p>
				  </div>
				</div>
			</div>
		</div>
		  </div>
		</div>
		<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <!-- Formulaire de changement de mot de passe -->
				  <form id="passwordChangeForm" method="post" action="{% url 'profile' %}">
					{% csrf_token %}
					{% for field in form  %}
						<div class="form-group mb-4">
							<label class="form-label" for="{{ field.id_for_label }}" style="color: #000000;">{{ field.label }}</label>
							{{ field|add_class:"form-control" }}
							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
					<!-- Champs du formulaire -->
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button id="change-pass" type="submit" form="passwordChangeForm" class="btn btn-primary">Save changes</button>
				</div>
			  </div>
			</div>
		</div>
	</body>
	{% endblock %}