{% extends "master.html" %}
{% load static %}

{% block content %}
    <body style="background-color: black;">
    
        <p style="color: white;">Test<br>
            {{ request.user.id }}<br>
            {{ request.user.username }}<br>
            {{ request.user.total_pong_games }}<br>
            {{ avatar_name }}<br>
            {{ request.user.language }}<br>
            <div class="container-fluid">
                <form method="post" action="{% url 'change_language' %}">
                    {% csrf_token %}
                    <button type="submit" name="language_code" value="fr">
                        <img src="{% static 'fr.png'%}" style="margin-right: 3px;">
                    </button>
                    <button type="submit" name="language_code" value="en">
                        <img src="{% static 'uk.png'%}" style="margin-right: 3px;">
                    </button>
                    <button type="submit" name="language_code" value="sp">
                        <img src="{% static 'sp.png'%}" style="margin-right: 3px;">
                    </button>
                </form>
            </div>
        </p>
    </body>
{% endblock %}
