welcome {
	font-family: Work Sans, sans-serif;
	font-size: 5vw;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	color: aliceblue;
  }
  
  .fancy {
	position: relative;
	white-space: nowrap;
	&:after {
	  --deco-height: 0.3125em;
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: calc(var(--deco-height) * -0.625);
	  height: var(--deco-height);
	  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	  background-size: auto 100%;
	  background-repeat: round;
	  background-position: 0em;
	}
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.friend-request {
	border-bottom: 1px solid #ddd; /* Séparateur */
	padding: 10px;
	margin-bottom: 10px;
}
.friend-request:last-child {
	border-bottom: none;
}
.friend-request-icon {
	width: 18px;
	height: 18px;
}

.align-button {
	transform: translateY(7px);
}

.graphique-conteneur {
    max-width: 300px; /* Ajustez selon vos besoins */
    margin: auto; /* Centre le graphique horizontalement */
	padding: 10px; /* Ajoute une marge intérieure */
    background-color: #fff; /* Fond blanc */
}

.moyenne-encart {
	margin-right: 150px;
    display: flex;
    justify-content: space-between; /* Sépare les éléments */
    align-items: center; /* Centre verticalement */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.moyenne-texte, .moyenne-stat {
    flex: 1; /* Assure une répartition égale de l'espace */
}

.moyenne-encart p {
    display: table-cell; /* Comme une cellule de tableau */
    vertical-align: middle; /* Centrage vertical */
}

/* Style pour le centrage vertical des encarts de moyenne */
.moyenne-encart-conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    height: 100%; /* Prend toute la hauteur de la colonne */
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-info div {
    flex: 1;
    text-align: center;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-result {
    width: 100px;
    text-align: left;
}

.btn-custom-rounded {
	border-top-left-radius: 0.375rem !important;
	border-bottom-left-radius: 0.375rem !important;
}

.alert-custom {
	margin-bottom: auto !important;
}

.text-success {
    color: green; /* or any color you prefer for success messages */
}

.text-alert {
    color: red; /* or any color you prefer for alert messages */
}

.pass-line {
	display: block;
	margin-top: 10px;
}